:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}
/* Загальні налаштування стилів */
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  font-style: normal;
  color: currentColor;
}
button {
  cursor: pointer;
  box-shadow: none;
  border: none;
}
address {
  font-style: normal;
}
img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  font-size: 16px;
  line-height: 150%;
  background-color: var(--white);
}
/* Header Navigation Styles   */
.header {
  border-bottom: 1px solid var(--cornflower);
}
.header .container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.header-nav-unordered {
  display: flex;
  gap: 40px;
}

.header-nav-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}
.header-nav-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}
.header-nav-link {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  display: inline-block;
  padding: 24px 0;
}
.current {
  color: var(--ocean);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  height: 4px;
  width: 100%;
  background-color: var(--ocean);
  bottom: -1px;
  left: 0;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
}
.header-address {
  font-style: normal;
}
.header-address-unordered {
  display: flex;
  gap: 40px;
}

.header-address-contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.header-address-contacts:hover,
.header-address-contacts:focus {
  color: #404bbf;
}

/* Main Page Styles */
/*section hero */
.hero {
  background: var(--navy-blue);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  max-width: 1440px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  margin-bottom: 48px;
  max-width: 496px;
}
.button-hero {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  border-radius: 4px;
  min-width: 169px;
  padding: 16px 32px;

  cursor: pointer;
  border: none;
}
.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
}
/*section feature */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-unordered {
  display: flex;
  gap: 24px;
}
.feature-list {
  width: calc((100% - 3 * 24px) / 4);
}
.feature-title-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding-bottom: 8px;
}
.feature-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.feature-icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  background-color: var(--cloud);
  width: 264px;
  height: 112px;
  border-radius: 8px;
  align-items: center;
  border: 1px solid var(--light-slate);
  margin-bottom: 8px;
}
/*team cards */
.team-cards {
  background-color: var(--cloud);
}
.team-cards-unordered {
  display: flex;
  gap: 24px;
}
.team-cards-list {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-cards-image {
  max-width: 100%;
  object-fit: cover;
}
.team-cards-name-container {
  padding: 32px 16px;
}
.team-cards-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-cards-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
  margin-bottom: 8px;
}

.team-cards-content {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
  margin-bottom: 8px;
}
.team-cards-list {
  background-color: #ffffff;
}
.team-social-unordered {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 0 16px;
}
.team-social-list {
  width: calc((100% - 3 * 24px) / 4);
}
.team-social-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover {
  background-color: #404bbf;
}
.team-social-link:focus,
.team-social-link:active {
  background-color: #404bbf;
}
.team-social-icon {
  fill: var(--cloud);
}

/*section projects */
.projects-list-unordered {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}
.projects-list {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.section-projects-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.projects-text-container {
  position: relative;
  overflow: hidden;
}
.projects-text-overlay {
  top: 0;
  position: absolute;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  align-items: center;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--iris);
}
.projects-list:hover .projects-text-overlay {
  transform: translateY(0);
}
.projects-list-name-container {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
.projects-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  /*text-align: center;*/
  color: var(--navy-blue);
  text-transform: capitalize;
  margin-bottom: 8px;
}
.projects-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  /*text-align: center;*/
  color: var(--slate);
}

/* Footer Styles */
.footer {
  background-color: var(--navy-blue);
  padding-top: 120px;
  padding-bottom: 120px;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-logo-text-container {
  margin-right: 120px;
}
.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 16px;
  max-width: 264px;
}
.footer-social-container {
  max-width: 208px;
}
.footer-social-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}
.footer-social-unordered {
  display: flex;
  gap: 16px;
}
.footer-social-link {
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus,
.footer-social-link:active {
  background-color: var(--ocean);
}
